<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sxd.invmgmt.dao.stock.OrderDao">

    <sql id="table_name">
        order
    </sql>

    <sql id="dynamic_full_match_condition">
        <trim prefix="WHERE" prefixOverrides="AND ">
            <if test="id != null">
                AND <include refid="table_name"/>.id = #{id}
            </if>
            <if test="userId != null">
                AND <include refid="table_name"/>.userId = #{userId}
            </if>
            <if test="deptId != null">
                AND <include refid="table_name"/>.deptId = #{deptId}
            </if>
            <if test="stockIds != null">
                AND <include refid="table_name"/>.stockIds = #{stockIds}
            </if>
            <if test="stocks != null">
                AND <include refid="table_name"/>.stocks = #{stocks}
            </if>
            <if test="status != null">
                AND <include refid="table_name"/>.status = #{status}
            </if>
            <if test="msg != null">
                AND <include refid="table_name"/>.msg = #{msg}
            </if>
            AND <include refid="table_name"/>.deleted = #{deleted}
        </trim>
    </sql>

    <!--BaseDao中的方法-->
    <insert id="insert" parameterType="OrderEntity">
        INSERT ignore INTO <include refid="table_name"/> (
        userId, deptId, stockIds, stocks, status, msg
        )
        VALUES (
        #{userId}, #{deptId}, #{stockIds}, #{stocks}, #{status}, #{msg}
        )
    </insert>

    <update id="update" parameterType="OrderEntity">
        UPDATE <include refid="table_name"/> SET
        userId = #{userId},
        deptId = #{deptId},
        stockIds = #{stockIds},
        stocks = #{stocks},
        status = #{status},
        msg = #{stockIds}
        WHERE
        id = #{id}
    </update>

    <update id="logicDelete" parameterType="OrderEntity">
        UPDATE <include refid="table_name"/> SET
        deleted = 1
        WHERE
        id = #{id}
    </update>

    <select id="selectById" parameterType="OrderEntity" resultType="OrderEntity">
        SELECT * FROM <include refid="table_name"/>
        WHERE
        id = #{id} AND
        deleted = 0
    </select>

    <select id="selectOne" parameterType="OrderEntity" resultType="OrderEntity">
        SELECT * FROM <include refid="table_name"/>
        <include refid="dynamic_full_match_condition" />
        LIMIT 1
    </select>

    <select id="selectCount" parameterType="OrderEntity" resultType="Integer">
        SELECT COUNT(1) FROM <include refid="table_name" />
        <include refid="dynamic_full_match_condition" />
    </select>

    <select id="select" parameterType="OrderEntity" resultType="OrderEntity">
        SELECT * FROM <include refid="table_name"/>
        <include refid="dynamic_full_match_condition" />
    </select>

    <select id="selectAll" resultType="OrderEntity">
        SELECT * FROM <include refid="table_name"/>
        WHERE deleted = 0
    </select>

    <select id="selectByPage" parameterType="OrderEntity" resultType="OrderEntity">
        SELECT * FROM <include refid="table_name"/>
        <include refid="dynamic_full_match_condition" />
        LIMIT #{start}, #{pageSize}
    </select>

    <!--自定义方法-->


</mapper>